* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  width: 1140px;
  margin: 0 auto;

  @media screen and (max-width: 1150px){
    width: 100%;
  }
}