:root {

  --side-padding: 20px;

  --bg-main: #fff;
  --bg-green: #45927FE5;

  --color-white-dirt: #F8FBFA;

  --color-gray: #868686;

  --color-dark: #364844;

  --color-green-d: #08664F;
  --color-green-m: #1FA181;
  --color-green-l: #0DBC91;
}