:root {

  --side-padding: 20px;

  --bg-main: #fff;
  --bg-green: #45927FE5;

  --color-white-dirt: #F8FBFA;

  --color-gray: #868686;

  --color-dark: #364844;

  --color-green-d: #08664F;
  --color-green-m: rgb(31, 161, 129);
  --color-green-m-o18: rgba(31, 161, 129, 0.18);
  --color-green-l: #0DBC91;
}